.navBlock{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    font-weight: bolder;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Menublock{
    display: flex;
    width: 350px;
    justify-content: space-between;
    list-style: none;
}

.Menublock ol li a{
    text-decoration: none;
    list-style: none;
}

.Menublock ol{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 300px;
}

img{
    height: 65px;
    width: 150px;
}